<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li>Home</li>
    <li>About</li>
  </ul>
</nav>
<div class="hero-container ">
    <div class="row">
        <div class="col-sm">
          sliphook
        </div>
        <div class="col-sm">
          reel in
        </div>
        <div class="col-sm">
          apple google
        </div>
      </div>

    </div>

<div class="aboutSection">

    <div class="container">
        <div class="row">
            <div class="col-sm-4">.col-sm-4</div>
            <div class="col-sm-4">.col-sm-4</div>
            <div class="col-sm-4">.col-sm-4</div>
        </div>
      </div>
      <div class="containerTwo">
          <div class="row">
              <div class="col-sm-4">.col-sm-4</div>
              <div class="col-sm-4">.col-sm-4</div>
              <div class="col-sm-4">.col-sm-4</div>
            </div>
        </div>
      </div>

<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

