@import '/home/zach/git/website/sliphook-website/src/_variables.scss';
.home {
    color: white;
    background: map-get($colors, primary-lighter);
}

.signUpSection {
    background: map-get($colors, gray-light);
}

.container {
    padding-bottom: 50px;
}

.aboutSection {
    .fa {
        color: map-get($colors, primary-light) !important;
        padding-top: 30px;
    }
}

.col-md-1 {
    text-align: center;
}

.col-md-3 {
    text-align: left;
    padding-left: 25px;
}

.sectionTitles {
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
}

.form-control {
    height: 300px;
}

.form-actions {
    text-align: center;
    .btn {
        background: map-get($colors, primary-light);
        color: white;
    }
}

.footer {
    text-align: center;
    padding: 25px;
    .fa {
        color: #656565 !important;
        padding: 10px;
    }
    .fa-twitter {
        color: map-get($colors, twitter) !important;
    }
    .btn {
        background: white;
    }
}

.navbar {
    padding-right: 50px;
    font-size: 2rem;
}

.navbar a {
    color: white !important;
}

.appStores {
    text-align: right;
}

.storeBtn {
    height: 190px;
    padding: 5px;
}