<!--The content below is only a placeholder and can be replaced.-->
<section id=home class="home">

  <div class=container>
    <nav class="navbar navbar-right">
      <ul class="nav navbar-nav">
        <li>
          <a href="#home">Home</a>
        </li>
        <li>
          <a href="#about">About</a>
        </li>
        <li>
          <a href="#signUp">Sign Up</a>
        </li>
        <li>
          <a href="">Shop</a>
        </li>
      </ul>
    </nav>
    <div class="title">
      <img src="src/images/38246188_2404378492930268_4678744614130155520_n.png" height="250" width="250" />
    </div>
    <div class="row">
      <div class="col-md-6">

        <img class="iphone" src="src/images/iphone4.png" height="300" width="300" />

      </div>
      <div class="col-md-6">
        <div class="intro">
          <h2>Reel In The Adventures</h2>
          <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley </h4>

        </div>
      </div>
    </div>
    <div class="appStores">
      <div class ="row">
        <div class=" col">
      <a href="" alt="iTunes Store">
        <img class="storeBtn" src="src/images/app-store-badge.png" />
      </a>
      <a href="" alt="Google Play Store">
        <img class="storeBtn" src="src/images/play-store-256x256.png" />
      </a>
    </div>
    </div>
    </div>
  </div>
</section>

<section id="about" class="aboutSection">
  <div class=container>
    <div class="sectionTitles">
      <h1>What We Do</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-1">
          <i class="fa fa-heart-o fa-4x"></i>
        </div>
        <div class="col-md-3">
          <h3>The Best App</h3>
          <h4>Lorem Ipsum is simply dummy text of the printing</h4>
        </div>

        <div class="col-md-1">
          <i class="fa fa-lock fa-4x"></i>
        </div>
        <div class="col-md-3">
          <h3>Secure Shopping</h3>
          <h4>Lorem Ipsum is simply dummy text of the printing</h4>
        </div>
        <div class="col-md-1">
          <i class="fa fa-star-o fa-4x"></i>
        </div>
        <div class="col-md-3">
          <h3>Rate and Review</h3>
          <h4>Lorem Ipsum is simply dummy text of the printing</h4>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-1">
          <i class="fa fa-bell-o fa-4x"></i>
        </div>
        <div class="col-md-3">
          <h3>Get Notifications</h3>
          <h4>Lorem Ipsum is simply dummy text of the printing</h4>
        </div>
        <div class="col-md-1">
          <i class="fa fa-video-camera fa-4x"></i>
        </div>
        <div class="col-md-3">
          <h3>Send Video</h3>
          <h4>Lorem Ipsum is simply dummy text of the printing</h4>
        </div>
        <div class="col-md-1">
          <i class="fa fa-map-marker fa-4x"></i>
        </div>
        <div class="col-md-3">
          <h3>Fast Buy and Sell</h3>
          <h4>Lorem Ipsum is simply dummy text of the printing</h4>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="signUp" class="signUpSection">
  <div class=container>
    <div class="sectionTitles">
      <h1>Sign Up For Early Access</h1>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="accessInfo">
          <h3>What is early access?</h3>
          <h4>
            <p>LLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
              standard dummy text ever since the 1500s, when an unknown printer took a galley</p>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
              literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
              College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage,
              and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum
              comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil)
              by Cicero, written in
            </p>
          </h4>
        </div>
      </div>
      <div class="col-md-6">
        <form>
          <div class="form-group">
            <label for="comment"></label>
            <textarea class="form-control" rows="5" id="comment"placeholder="Submit Somthing"></textarea>
          </div>
          <div class="form-actions">
            <button type="button" class="btn btn-lg" (click)="submit()">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>


</section>
<div class="footer">
  <div class="social">
    <a target="_blank" href="https://www.facebook.com/sliphook.fish/" class="btn">
      <i class="fa fa-facebook fa-2x"></i>
    </a>
    <a target="_blank" href="" class="btn">
      <i class="fa fa-twitter fa-2x"></i>
    </a>
    <a target="_blank" href="" class="btn">
      <i class="fa fa-instagram fa-2x"></i>
    </a>
  </div>
  <div class="copyright">
    <h5>Copyright</h5>
    <h5>
      <i class="fa fa-copyright"></i> 2018 SlipHook LLC</h5>
  </div>
</div>